.ie-panel {
  display: none;
  background: #212121;
  padding: 10px 0;
  box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.3);
  clear: both;
  text-align: center;
  position: relative;
  z-index: 1;
}
html.ie-10 .ie-panel,
html.lt-ie-10 .ie-panel {
  display: block;
}

#nodetable {
  text-align: center;
  margin: 20px 0px;
  background: #202020;
  border: 2px solid rgba(255, 255, 255, 0.08);
  border-radius: 8px;
}

#nodetable th {
  background-color: #2f2f2f;
  padding: 5px 10px;
}

#nodetable td {
  padding: 5px 10px;
}

.footitems a {
  color: white;
}

.Announcement_fadein__2X6vU svg{
  color:rgb(103, 103, 103);
}

.Announcement_fadein__2X6vU img{
  display: none !important;
}

.Announcement_fadeout__2SXlo img{
  display: none !important;
}

.Announcement_fadein__2X6vU div h3{
  color:rgb(103, 103, 103) !important;
  font-weight: initial !important;
}

.Announcement_fadein__2X6vU div p{
  color:rgb(93, 93, 93) !important;
}

/* .Announcement_fadein__2X6vU{
  background-color:rgb(255, 171, 60) !important;
}

.Announcement_fadein__2X6vU svg{
  color:rgb(103, 103, 103);
}

.Announcement_fadein__2X6vU img{
  display: none !important;
}

.Announcement_fadeout__2SXlo img{
  display: none !important;
}

.Announcement_fadein__2X6vU div h3{
  color:rgb(0, 0, 0) !important;
  font-weight: initial !important;
}

.Announcement_fadein__2X6vU div p{
  color:rgb(0, 0, 0) !important;
} */

 
