.upload-frame{
    width: 50%;
    height: 100px;
    background-color: white;
    /* background-color: #616161; */
    position: fixed;
    top: 35%;
    left: 25%;
    z-index: 100;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
}